spring:
  application:
    name: auth-service

  datasource:
    url: ${BD_URL:jdbc:postgresql://localhost:5433/nexusflow_auth}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
    port: 8081